# Original
.DS_Store
*.pickle
*.pkl
*.zip
*.bin
.Rproj.user
*.env
*.jsonl
docs/

# Byte-compiled/optimized/DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter notebooks
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py
